.home-container {
  display: grid;
  grid-gap:30px 60px;
  grid-template: auto auto / repeat(3, 1fr);
  padding: 30px;
}

.home-content {
    background-color: #f7f1e3;
    text-align: center;
    padding: 10px 10px;
    font-size: 20px;
    height: 50px;
    width: 360px;
  }
  /* .home-contents {
    background-color: #f7f1e3;
    text-align: center;
    padding: 10px 10px;
    font-size: 20px;
    height: 50px;
    width: 360px;
  } */
  .home-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .search-box {
    width: 20%;
    height: 40px;
    padding: 10px;
    border-style: groove;
  }
  p{
    color: #2980b9;
    font-weight: 600;
  }
.hotel-invoice-button{
 background: none;
 border: none;
 height: 20px;
 cursor: pointer;
 background-color: blue;
 color: white;
 display: grid;
 align-items: center;
 margin-left: 160px;
 width: 90px;
 height: 30px;
}
.paginationBttns {
  margin-top: 5px;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}
small {
  color: #c0392b;
  font-weight: 800;
}
