.hotel-invoice{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    flex-direction: column;
    margin-top: 0px;
    height: 460px;
}
.invoice-icon{
    font-size: 50px;
}
p{
    color: #c0392b;
    font-weight: 600;
    font-size: 25px;
}
.header-logout {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 30px;
    color: #c0392b;
    font-weight: 800;
    background: none;
    border: none;
    cursor: pointer;
  }